@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/icons");
@import url("chrome://messenger/skin/messengercompose.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
    --menulist-background-color: var(--in-content-button-background) 
}

@media (prefers-color-scheme: dark) {
    :root {
        --menulist-background-color: #393942;
        --menulist-hover-background-color: #444447;
        --checkbox-unchecked-bgcolor: Field;
    }
}

menulist {
    background-color: var(--menulist-background-color)
}

menulist:hover {
    background-color: var(--menulist-hover-background-color) !important
}

#localfolder {
    width: 550px;
    height: 220px;
    margin: 8px;
}

.localfolder-zone {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
}

#localfolder_bandeau {
    height: 30px;
    width: 100%;
}

#localfolder_bandeau_titre {
    font-weight: bold;
}

.c1 {
    margin-right: 15px; 
}

.c2 {
    min-width: 30px;
    margin-right: 15px;
    height: 20px;
}

.d1 {
    background-color: #858B97;
    width: 1px;
    height: 100%;
}

.ext-chrome {
    width: 80px;
    height: 100%;
}

.localfolder-icon {
    padding-top: 8px;
    padding-left: 6px;
}

.ext-info-icon {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 6px;
}

.all {
    border-style: solid;
    border-bottom: 0.5px !important;
    border-left: 0.5px !important;
    border-top: 0.5px !important;
    border-bottom: 0.5px !important;
    border-bottom-width: 4px !important;
    border-color: black !important;
}


/* ::::: groupbox ::::: */

fieldset {
    margin: 8px;
    border: 2px solid black !important;
}

legend {
    font-weight: 100 !important;
    color: aqua !important;
    background-color: #ffffff;
}
.groupbox-body {
    padding: inherit;
}


.folder-row {
    padding-bottom: 4px;
}

.folder-label-nix {
    padding-top: 4px;
}

.folder-image-win {
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
}
