@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/icons");
@import url("chrome://messenger/skin/messengercompose.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#localfolder {
    width: 550px;
    height: 200px;
    margin: 5px;
}

.localfolder-zone {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
}

#localfolder_bandeau {
    height: 30px;
    width: 100%;
}

#localfolder_bandeau_titre {
    font-weight: bold;
}

.c1 {
    /* min-width: 30px; */
    /* margin-right: 15px; */
    /* background-color: greenyellow; */
}

.c2 {
    min-width: 30px;
    margin-right: 15px;
    /* background-color: aliceblue; */
}

.c3 {
    /* background-color: aqua; */
}

.c4 {
    /* background-color: darkorange; */
}

.d1 {
    /* border-style: solid; */
    /* border-right:  0.5px !important; */
    /* border-color: black !important; */
    background-color: #858B97;
    width: 1px;
    height: 100%;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}

.ext-chrome {
    /* background-color: antiquewhite; */
    width: 80px;
    height: 100%;
}

.localfolder-icon {
    /* background-color: darkorange; */
    padding-top: 8px;
    padding-left: 6px;
}

.ext-info-icon {
    /* background-color: darkorange; */
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 6px;
}

.all {
    border-style: solid;
    border-bottom: 0.5px !important;
    border-left: 0.5px !important;
    border-top: 0.5px !important;
    border-bottom: 0.5px !important;
    border-bottom-width: 4px !important;
    border-color: black !important;
    /* background-color: darkorange; */
}


/* ::::: groupbox ::::: */

fieldset {
    margin: 5px;
    border: 2px solid;
    -moz-border-top-colors: #757575 #ECEFF2;
    -moz-border-right-colors: #ECEFF2 #757575;
    -moz-border-bottom-colors: #ECEFF2 #757575;
    -moz-border-left-colors: #757575 #ECEFF2;
    padding: 5px;
}

.groupbox-body {
    padding: inherit;
}


/* 
  caption {
	margin: 0px 6px 2px;
	padding: 0px 3px;
	background-color: #C7D0D9; 
  }
   */

.folder-row {
    padding-bottom: 4px;
}

.folder-checkbox {
    width: 18px;
    height: 18px;
    max-width: 18px;
    max-height: 18px;
    /* padding-bottom: 4px; */
}

.folder-icon {
    list-style-image: url("chrome://messenger/skin/icons/folder.png");
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    /* margin-inline-end: 10px; */
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin-top: 2px;
}

.folder-icon2 {
    list-style-image: url("chrome://messenger/skin/icons/folder.png");
    -moz-image-region: rect(0 208px 16px 192px);
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    /* margin-inline-end: 10px; */
    max-width: 16px;
    max-height: 16px;
    width: 16px;
    height: 16px;
}


/* Folders */

.folder-icon[SpecialFolder="Archives"] {
    -moz-image-region: rect(0 208px 16px 192px);
}

.folder-icon[SpecialFolder="Inbox"] {
    -moz-image-region: rect(0 48px 16px 32px);
}

.folder-icon[SpecialFolder="Sent"] {
    -moz-image-region: rect(0 64px 16px 48px);
}

.folder-icon[SpecialFolder="Outbox"] {
    -moz-image-region: rect(0 80px 16px 64px);
}

.folder-icon[SpecialFolder="Drafts"] {
    -moz-image-region: rect(0 96px 16px 80px);
}

.folder-icon[SpecialFolder="Templates"] {
    -moz-image-region: rect(0 112px 16px 96px);
}

.folder-icon[SpecialFolder="Junk"] {
    -moz-image-region: rect(0 128px 16px 112px);
}

.folder-icon[SpecialFolder="Trash"] {
    -moz-image-region: rect(0 144px 16px 128px);
}

.folder-icon[SpecialFolder="Virtual"] {
    -moz-image-region: rect(0 176px 16px 160px);
}


/* #localfolder-button.toolbarbutton-1 { */


/* list-style-image: url("chrome://localfolder/skin/LocalFolders-32px.png"); */


/* list-style-image: url("chrome://localfolder/skin/LocalFolders-20px.png"); */


/* }    */


/* 
#localfolder-button,#mail-toolbox > toolbar[brighttext] #localfolder-button.toolbarbutton-1 {
	list-style-image: url("chrome://localfolder/skin/LocalFolders-20px.png");
}
*/


/* toolbar[iconsize="small"] #localfolder-button,#mail-toolbox > toolbar[brighttext][iconsize="small"] #localfolder-button.toolbarbutton-1 { */


/* list-style-image: url("chrome://localfolder/skin/LocalFolders-20px.png") !important;} */

#mzts-button,
#mail-toolbox>toolbar[brighttext] #mzts-button.toolbarbutton-1 {
    list-style-image: url("chrome://localfolder/skin/LocalFolders-20.png");
}

toolbar[iconsize="small"] #mzts-button,
#mail-toolbox>toolbar[brighttext][iconsize="small"] #mzts-button.toolbarbutton-1 {
    list-style-image: url("chrome://localfolder/skin/LocalFolders-20px.png") !important;
}