@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/icons");
@import url("chrome://messenger/skin/messengercompose.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* We have to override some root and dark media color vars without contrast */

:root {
    --dialog-bgcolor: rgb(240,240,240);
    --dialog-text-color: FieldText;
}

@media (prefers-color-scheme: dark) {
    :root {
        --dialog-bgcolor: rgb(35, 34, 43);
        --dialog-text-color: #f7f7f7;
        --checkbox-unchecked-bgcolor: rgb(50, 49, 57);
        --toolbarbutton-hover-background: #393842;
        --toolbarbutton-active-background: #505054;
        --in-content-item-selected: rgb(69, 161, 255);
    }
}

@media (-moz-toolbar-prefers-color-scheme: dark) {
    :root {
        --dialog-bgcolor: rgb(35, 34, 43);
        --dialog-text-color: #f7f7f7;
        --checkbox-unchecked-bgcolor: rgb(50, 49, 57);
        --toolbarbutton-hover-background: #393842;
        --toolbarbutton-active-background: #505054;
        --popup-item-hover: rgb(69, 161, 255);
        --box-text-color: white 
    }

    html|legend {
        font-weight: 100 !important;
        background-color: var(--dialog-bgcolor);
        color: var(--dialog-text-color);
    }

    #localfolder {
        background-color: var(--dialog-bgcolor);
        color: var(--dialog-text-color);
    }

}


#localfolder {
    background-color: var(--dialog-bgcolor) !important;
}

.lfdiv {
    margin: 14px;
}

.localfolder-zone {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
}

#localfolder_bandeau {
    height: 30px;
    width: 100%;
}

#localfolder_bandeau_titre {
    font-weight: bold;
}

.c1 {
    margin-right: 15px;
}

.c2 {
    min-width: 30px;
    margin-right: 15px;
    height: 20px;
}

.d1 {
    background-color: #858B97;
    width: 1px;
    height: 100%;
}

.ext-chrome {
    width: 80px;
    height: 100%;
}

.localfolder-icon {
    padding-top: 8px;
    padding-left: 6px;
}

.ext-info-icon {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 6px;
}

.all {
    border-style: solid;
    border-bottom: 0.5px !important;
    border-left: 0.5px !important;
    border-top: 0.5px !important;
    border-bottom: 0.5px !important;
    border-bottom-width: 4px !important;
    border-color: black !important;
}


/* ::::: groupbox ::::: */

fieldset {
    margin2: 20px;
    border: 2px solid black !important;
    padding-right2: 6px I !important;
}

.groupbox-body {
    padding: inherit;
}


.folder-row {
    padding-bottom: 4px;
}

.folder-label-nix {
    padding-top: 4px;
}

.folder-image-win {
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
}